@import "tailwindcss";

/* FORCE hide Google translate top frame */
iframe.goog-te-banner-frame {
  display: none !important;
}

/* Prevent body push-down */
body {
  position: static !important;
  top: 0px !important;
}

/* Hide Google branding */
.goog-logo-link,
.goog-te-gadget span {
  display: none !important;
}

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply antialiased selection:bg-blue-600 selection:text-white;
  }

  /* Custom Scrollbar for Chrome/Safari/Edge */
  ::-webkit-scrollbar {
    width: 1px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-slate-100 dark:bg-slate-800;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 dark:bg-slate-600 hover:bg-slate-400 dark:hover:bg-slate-500 rounded-full border-2 border-white dark:border-slate-900;
  }
}

@layer utilities {
  .dark {
    @apply bg-slate-950 text-slate-100;
  }
}
